/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0px;
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
    text-shadow: 0px 0px 2px black ;
    
}

/* Sub-Header Section -Start-- */
.sub-header{
        color: #1D3557;
}
/* Sub-Header Section -End-- */

/* Her0-section -Start-- */

.torshov-img{
    background-image:  url("images/torshov.jpg");
    object-fit:cover;
    background-size: cover;
    height: 350px;
    display: flex;
    flex-direction:  column;
    align-items: center;
    /* justify-content: center; */
 
}

.hero-header{
    background: #cdcacc;
    /* border: 2px solid  dimgrey; */
    border-radius: 10px;
    padding: 8px 9px;
    margin: 50px auto 10px
   
} 
.hero-text{
    background: #CDE9EE;
    /* border: 2px solid  dimgrey; */
    border-radius: 10px;
    padding: 8px 9px;
    margin-top: 0px;
    width: 450px;
    /* text-shadow: 0px 0px 2px black ; */
    
}
/* Her0-section -End-- */

img {
    width: 100px;
}
h2{
    font-weight: bolder;
}

/* Activities-Section -Start-- */

.torshov-activities{
    display: flex;
    justify-content:  space-around;
    flex-wrap: wrap;
     color: #1D3557;
}
.activity-img{
    border-radius: 50%;
}
/* Activities-Section -End-- */

/* Guide-Section -Start-- */

.guide{
    border-radius: 5px;
    border: 1px solid #1D3557;
    border-bottom: 4px solid #1D3557;
    width: 380px;
    display: flex;
    margin: 50px auto;
    background: #CDE9EE; 
}
.guide-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 8px;
    color: #1D3557;
}

.guide-img{
    width:180px;
    height: 250px;
    padding: 10px;
    border-radius: 15px;
}
/* Guide-Section -End-- */


